---
import { Icon } from 'astro-icon/components';

const programming = [
  {
    name: 'Languages',
    items: [
      {
        title: 'TS/JS',
        icon: 'logos:typescript-icon',
      },
      {
        title: 'Java',
        icon: 'logos:java',
      },
      {
        title: 'C#',
        icon: 'logos:c-sharp',
      },
      {
        title: 'SQL',
        icon: 'lucide:database',
      },
      {
        title: 'Python',
        icon: 'logos:python',
      },
      {
        title: 'PHP',
        icon: 'logos:php',
      },
    ]
  },
  {
    name: 'Frameworks',
    items: [
      {
        title: 'Astro',
        icon: 'logos:astro-icon',
      },
      {
        title: 'React',
        icon: 'logos:react',
      },
      {
        title: 'Next.js',
        icon: 'logos:nextjs-icon',
      },
      {
        title: 'Express',
        icon: 'devicon:express',
      },
      {
        title: 'Spring',
        icon: 'logos:spring-icon',
      },
      {
        title: '.NET',
        icon: 'logos:dotnet',
      },
      {
        title: 'Tailwind CSS',
        icon: 'logos:tailwindcss-icon',
      },
    ],
  },
  {
    name: 'Tools',
    items: [
      {
        title: 'Git',
        icon: 'logos:git-icon',
      },
      {
        title: 'GitHub',
        icon: 'logos:github-icon',
      },
      {
        title: 'Docker',
        icon: 'logos:docker-icon',
      },
      {
        title: 'PostgreSQL',
        icon: 'logos:postgresql',
      },
      {
        title: 'MongoDB',
        icon: 'logos:mongodb-icon',
      },
    ],
  },
];
---

<article>
  {
  programming.map((stack) => (
    <h3>{stack.name}</h3>
    <div>
        {stack.items.map((item) => (
          <span>
              <Icon name={item.icon} />
              <span>{item.title}</span>
          </span>
        ))}
    </div>
  ))
}
</article>

<style>
  article > h3 {
    margin-bottom: 0.5rem;
  }
  article > div {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }

  article > div > span {
    background: var(--background-light);
    border-radius: 0.25rem;
    padding-inline: 0.5rem;
    padding-block: 0.25rem;

    display: flex;
    align-items: center;
    gap: 0.25rem;
  }
</style>