---
import { LinkedinIcon, GithubIcon, Folder } from "@lucide/astro";

import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";

import profileImage from "../assets/profile.png";

const links = [
  {
    name: "LinkedIn",
    href: "https://www.linkedin.com/in/ing-alejandrof/",
    icon: LinkedinIcon,
    newPage: true
  },
  {
    name: "GitHub",
    href: "https://github.com/umdalecs",
    icon: GithubIcon,
    newPage: true
  },
  {
    name: "Projects",
    href: "/projects",
    icon: Folder,
    newPage: false
  }
];
---

<Layout title="umdalecs">
  <main class="container">
    <Image src={profileImage} alt="Profile picture" width={200} height={200} />
    <h1>Alejandro Flores</h1>
    <h3>FullStack Developer & Student</h3>
    <p>
      I'm a passionate full-stack developer with a love for learning and
      creating. I enjoy working on projects that challenge me and allow me to
      grow my skills. I'm always looking for new opportunities to collaborate
      and build amazing things together.
    </p>
    <article class="links">
      {
        links.map((link) => (
          <a
            class="link"
            href={link.href}
            target={link.newPage ? "_blank" : "_self"}
            rel="noopener noreferrer"
          >
            <link.icon />
            {link.name}
          </a>
        ))
      }
    </article>
  </main>
</Layout>
