---
import { Icon } from "astro-icon/components";

import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";

import profileImage from "../assets/profile.png";

import Skills from "../components/skills.astro";
import Projects from "../components/projects.astro";

const links: { name: string; href: string; icon: string; newPage: boolean }[] =
  [
    {
      name: "LinkedIn",
      href: "https://www.linkedin.com/in/ing-alejandrof/",
      icon: "lucide:linkedin",
      newPage: true,
    },
    {
      name: "GitHub",
      href: "https://github.com/umdalecs",
      icon: "lucide:github",
      newPage: true,
    },
    {
      name: "Contact",
      href: "mailto:umdalecs@proton.me",
      icon: "lucide:mail",
      newPage: false,
    },
    {
      name: "Skills",
      href: "#skills",
      icon: "lucide:star",
      newPage: false,
    },
    {
      name: "Projects",
      href: "#projects",
      icon: "lucide:folder",
      newPage: false,
    },
  ];
---

<Layout title="umdalecs">
  <main
    class="text-center min-h-full max-w-4xl flex flex-col flex-center justify-center items-center mx-auto px-4 fade-on-scroll"
    id="hero"
  >
    <Image
      class="border rounded-[50%]"
      src={profileImage}
      alt="Profile picture"
      width={200}
      height={200}
    />
    <h1 class="text-4xl text-foreground-accent mb-4">Alejandro Flores</h1>
    <h3 class="text-2xl text-foreground-accent3 mb-4">
      FullStack Developer & Student
    </h3>
    <p class="mb-4">
      I'm a passionate full-stack developer with a love for learning and
      creating. I enjoy working on projects that challenge me and allow me to
      grow my skills. I'm always looking for new opportunities to collaborate
      and build amazing things together.
    </p>
    <article
      class="flex justify-center flex-wrap w-full gap-4 mx-4 hover:text-foreground-ghost"
    >
      {
        links.map((link) => (
          <a
            class="flex items-center gap-1 p-2 border rounded-sm tracking-normal hover:text-foreground-accent"
            href={link.href}
            target={link.newPage ? "_blank" : "_self"}
            rel={link.newPage ? "noopener noreferrer" : undefined}
          >
            <Icon name={link.icon} />
            {link.name}
          </a>
        ))
      }
    </article>
  </main>

  <Skills />
  <Projects />
</Layout>
