/* Register your custom font family and tell the browser where to find it. */
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter_18pt-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("/fonts/JetBrainsMono-Regular.ttf") format("truetype");
}


:root {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  /* font-family: sans-serif; */

  --background: #24283b;
  --background-secondary: #1a1b26;
  --background-accent: #1d1d1d;
  --background-light: #33364d;
  --foreground: #a9b1d6;
  --foreground-accent: #f7768e;
  --foreground-accent2: #ff9e64;
  --foreground-accent3: #e0af68;
  --foreground-ghost: #414868;

  /* 
    --foreground-accent: #f7768e; 
    #ff9e64;
    #e0af68;
    #cfc9c2;
    #9ece6a;
    #73daca;
    #b4f9f8;
    #2ac3de;
    #7dcfff;
    #7aa2f7;
    #bb9af7;
    #c0caf5;
    --foreground: #a9b1d6;
    --???: #9aa5ce;
    --ghost: #414868;
    --background: #24283b;
    --background-clear: #1a1b26;
  */
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

a {
  color: var(--foreground);
  text-decoration: none;
}

button {
  background: var(--background);
  color: var(--foreground);
}

body {
  overflow: auto;
  background: var(--background);
  color: var(--foreground);
}

.fade-on-scroll {
  animation: fadeOut linear;
  animation-timeline: view();
  animation-range: exit;
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}