@import "tailwindcss";

@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter_18pt-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("/fonts/JetBrainsMono-Regular.ttf") format("truetype");
}

@theme {
    --color-background: #24283b;
    --color-background-secondary: #1a1b26;
    --color-background-accent: #1d1d1d;
    --color-background-light: #33364d;
    --color-foreground: #a9b1d6;
    --color-foreground-accent: #f7768e;
    --color-foreground-accent2: #ff9e64;
    --color-foreground-accent3: #e0af68;
    --color-foreground-ghost: #414868;
    --font-inter: "Inter", sans-serif;
    --font-mono: "JetBrainsMono", monospace;
}

@layer utilities {
    .fade-on-scroll {
        animation: fadeOut linear;
        animation-timeline: view();
        animation-range: exit;
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}
